In [1]:
# coding=utf-8
from __future__ import print_function, absolute_import
from gm.api import *

import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'SimHei'
plt.rcParams['axes.unicode_minus'] = False

import seaborn as sns
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
from tqdm import tqdm

## calc
from scipy.stats import linregress

In [4]:
factor_df = pd.read_parquet(r'data\factors\emotion\psy_12.parquet')
factor_df['grouped'] = factor_df.groupby('date')[factor_df.columns[0]].transform(
    lambda s: pd.cut(s, 10, labels=False)
)

In [ ]:
factor_df.groupby('grouped').mean()

         emotion_psy_12
grouped
0            1.59986039
1           16.53809551
2           24.82006633
3           33.16978383
4           43.98960105
5           52.84103522
6           60.97449284
7           69.01487365
8           77.01044639
9           85.70121476

In [11]:
factor_disturbion = factor_df.grouped.value_counts().sort_index()
factor_disturbion.index += 1
factor_disturbion

grouped
1      33904
2      34676
3     117497
4     257873
5     557524
6     453482
7     335017
8     171489
9      56766
10     12842
Name: count, dtype: int64

In [13]:
factor_disturbion.values

array([ 33904,  34676, 117497, 257873, 557524, 453482, 335017, 171489,
        56766,  12842], dtype=int64)